/* Import Fonts */

/** --------------------------------------------
 * reset 
 * ---------------------------------------------*/
html {
  font-size: 65%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
  background: #224;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #333;
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
p {
  margin: 0 0 1.5rem 0;
  font-weight: normal;
}



/** --------------------------------------------
 * Components 
 * ---------------------------------------------*/

 .start-countdown-section button {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 150ms ease;
  border-color: #224;
  cursor: not-allowed;
}
.start-countdown-section button.active {
  cursor: pointer;
}

.start-countdown-section .ctab-start.active {
  background-color: rgb(181, 83, 178);
  color: #fff;
}
.start-countdown-section .ctab-reset {
  background-color: #444;
  color: #aaa;
  border: 0;
}
.start-countdown-section .ctab-reset.active {
  background-color: #c66;
  color: #fff;
}
.start-countdown-section button.active:hover {
  color:rgb(37, 37, 76);
  background-color: #fcf;
}


#error-message {
  color: #c66;
  font-size: 1.4rem;
  text-align: center;
  margin: 2em 0;
}












/** --------------------------------------------
 * layout 
 * ---------------------------------------------*/

header {
  text-align: center;
  padding: 4em 4em 2em 4em;
}



section {
  width: 90%;
  /* border: 2px solid red; */
  margin-inline: auto;
  margin-bottom: 4em;
  max-width: 500px;
}

.start-countdown-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}
.start-countdown-section input,
.start-countdown-section button {
  padding: .5em;
}
.start-countdown-section input {
  padding-inline: 2em;
}


.countdown-container {
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
  padding: 2em;
  box-shadow: 0 0 15px 5px rgba(94, 65, 152, 0.333), inset 0 0 7px 0 #fff1;
  border-radius: 1em;
}
.countdown-container > * {
  flex: 1;
  height: 100px;
  background-color: rgb(37, 37, 76);
  box-shadow: inset 0 0 12px 2px #0007;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.9rem;
  text-shadow: 0px 0px 5px #fff;
  position: relative;
}
.countdown-container .digits-one::before,
.countdown-container .digits-two::before,
.countdown-container .digits-three::before {
  content: ":";
  position: absolute;
  right: -20%;
}
