/* Import Fonts */

/** --------------------------------------------
 * reset 
 * ---------------------------------------------*/
html {
  font-size: 65%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
  background: #224;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #333;
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
p {
  margin: 0 0 1.5rem 0;
  font-weight: normal;
}

/** --------------------------------------------
 * layout 
 * ---------------------------------------------*/
section {
  width: 90%;
  /* border: 2px solid red; */
  margin-inline: auto;
  margin-bottom: 4em;
  max-width: 500px;
}

section.countdown-section {
}

.countdown-container {
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
  padding: 2em;
  box-shadow: 0 0 15px 5px rgba(94, 65, 152, 0.333), inset 0 0 7px 0 #fff1;
  border-radius: 1em;
}
.countdown-container > * {
  flex: 1;
  height: 100px;
  background-color: rgb(37, 37, 76);
  box-shadow: inset 0 0 12px 2px #0007;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.9rem;
  text-shadow: 0px 0px 5px #fff;
  position: relative;
}
.countdown-container .digits-one::before,
.countdown-container .digits-two::before,
.countdown-container .digits-three::before {
  content: ":";
  position: absolute;
  right: -20%;
}
